body,
ul,
li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;



}

body::before {
    content: "";
    background-image: url("img/pipe3.jpg");
    background-color: rgba(72, 61, 139, 0.3);
    background-blend-mode: overlay;
    opacity: 0.2;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;


}


header {

    text-align: center;
    position: relative;
    width: 100%;
    border-bottom: 3px solid darkslateblue;
}

.title {
    color: black;
    width: 100%;

    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

.banner {
    height: 450px;
    overflow: hidden;
}

.banner img {
    margin: 0px 0px 0px 0px;
    width: 100%;

}

.newItem {

    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: center;
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

#newInput {
    margin: 0;
    border: 1px solid skyblue;
    width: 15%;
    padding: 10px;
    font-size: 16px;
    color: gray
}

#newDiam {
    margin: 0;
    border: 1px solid skyblue;
    width: 15%;
    padding: 10px;
    font-size: 16px;
    color: gray
}

#newEspess {
    margin: 0;
    border: 1px solid skyblue;
    width: 15%;
    padding: 10px;
    font-size: 16px;
    color: gray
}

#newMaterial {
    margin: 0;
    border: 1px solid skyblue;
    width: 15%;
    padding: 10px;
    font-size: 16px;
    color: gray
}

#newProduto {
    margin: 0;
    border: 1px solid skyblue;
    width: 15%;
    padding: 10px;
    font-size: 16px;
    color: gray
}

#newArranjo {
    margin: 0;
    border: 1px solid skyblue;
    width: 15%;
    padding: 10px;
    font-size: 16px;
    color: gray
}

#newOrigem {
    margin: 0;
    border: 1px solid skyblue;
    width: 15%;
    padding: 10px;
    font-size: 16px;
    color: gray
}

#newDestino {
    margin: 0;
    border: 1px solid skyblue;
    width: 15%;
    padding: 10px;
    font-size: 16px;
    color: gray
}

.addBtn {
    padding: 9px 10px;
    background-color: darkslateblue;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.addBtn:hover {
    background-color: #2ab53a;
    color: white;
}

.items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.close:hover {
    color: #f44336;
    font-weight: bolder;
}

footer {

    text-align: center;
    padding: 20px 20px
}

table,
th,
td {
    border: 1px solid darkslateblue;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 18px;
    transition: 0.2s;
    text-align: center;

}

table {
    background-color: whitesmoke;
    width: 50%;

}



tr:nth-child(odd) {
    background-color: whitesmoke;
    opacity: 1;
}

th:nth-child(1) {
    width: 80%;
}

tr:hover {
    background: lightgray;
    opacity: 0.8;
}